@import "../../../styles/variables";

.inputGroup {
  position: relative;
  width: 330px;
  height: 72px;
  display: flex;
  align-items: center;

  &__input {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 10px 0 10px 15px;
    font-weight: 400;
    font-size: 1.4rem;
    color: $dark-gray;
    background: #efefef;
    border: 0;
    border-radius: 3px;
    outline: 0;
    text-indent: 80px; 
    transition: all .3s ease-in-out;
    
    &::-webkit-input-placeholder {
      color: #efefef;
      text-indent: 0;
      font-weight: 300;
    }
  
    + label {
      display: inline-block;
      position: absolute;
      transform: translateX(0);
      top: 0;
      left: 0;
      padding: 10px 15px;
      text-shadow: 0 1px 0 rgba(19,74,70,.4);
      transition: all .3s ease-in-out;
      border-radius: 3px;
      overflow: hidden;
      text-transform: uppercase;
      font-size: 1.6rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      
      &:before,
      &:after {
        content: "";
        position: absolute;
        right: 0;
        left: 0;
        z-index: -1;
        transition: all .3s ease-in-out;
      }
      &:before {
        top: 6px;
        left: 5px;
        right: 5px;
        bottom: 6px;
        background: $medium-blue; 
      }
      &:after {
        top: 0;
        bottom: 0;
        background: $light-blue;
      }
    }
    &--disabled {
      pointer-events: none;
      + label { 
        height: 100%;
        pointer-events: none;
      }
    }
    &:focus,
    &:active {
      color: $medium-blue;
      text-indent: 0;
      background: #fff;
      
      &::-webkit-input-placeholder {
        color: #aaa;
      }
      + label {
        transform: translateY(-100%);
    
        &:before {
          border-radius: 5px;
        }
        &:after {
          transform: translateY(100%);
        }
      }
    }
  }
  &:nth-child(1) &__input {
    text-indent: 105px;
  }
  &:nth-child(3) &__input {
    text-indent: 125px;
  }
  &:nth-child(1) &__input:focus,
  &:nth-child(1) &__input:active,
  &:nth-child(3) &__input:focus,
  &:nth-child(3) &__input:active {
    text-indent: 0;
  }
  .spinner {
    position: absolute;
    right: 14px;
  }

  &__button {
    position: absolute;
    right: 14px;
    height: 40px;
    width: 40px;
    opacity: 0;
    cursor: text;
    pointer-events: none;
    transition: opacity .5s ease-in-out;
    background: transparent;
    border: none;
    &--active {
      cursor: pointer;
      opacity: 1;
      pointer-events: all;
      animation:ease-in-out infinite alternate;
      animation-name: moving;
      animation-duration: .6s;
      color: $background;
    }
    &--disabled {
      display: none;
    }
  }

}
  
@keyframes moving {
  0% { right: 0;}
  100%{ right : -6px;}
}

