* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 400 14px $fontName, sans-serif;
  -webkit-font-smoothing: antialiased;
}

input, button, textarea {
  font: 400 18px $fontName, sans-serif;
}

button {
  cursor: pointer;
}
a:visited, a {
  text-decoration: none;
  outline: none;
  color: white;
}
a:hover {
  color: $background;
}

.carousel__cell {
  position: relative;
}